body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

.container{
    width: 800px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-style: groove;
    border-color: #f5f5f5;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    margin-bottom: 0.5rem;
}

p{
    margin-top: 0;
    text-align: justify;
}

.header a{
    font-weight: bold;
    font-size: large;
    color: rgb(91, 176, 204);
}

.header a:hover{
    color: red;
    transition: 0.5s;
}

.header i:hover{
    color: red;
    transition: 0.5s;
}

.main{
    border-style: groove;
    border-color: #e6e6e6;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

hr{
    border: 1px solid #efeaea;
}

.flex-item{
    display: flex;
    flex-direction: column;
}

.flex-item-1{
    flex-direction: row;
}

.profile-brief{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info{
    display: flex;
    align-items: center;
}

.circular-landscape-image{
    width: 200px;
    height: 200px;
}

.circular-landscape-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
    margin: 0;
}

.education-item{
    display: flex;
    align-items: center;
}

.edu-img{
    width: 70px;
    height: 70px;
}

.experience-item{
    display: flex;
    align-items: center;
}

.exp-img{
    width: 70px;
    height: 70px;
}